@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 3px solid rgba(245, 245, 245, 0.3);
  border-radius: 50%;
  border-top: 3px solid #000;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin: auto;
}
